<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Welcome to {{ title }}</h2>
    <p>This is my dummy homepage. Blah Blah Blah.</p>
</body>
</html>