{% extends 'base.html' %}
{% block text %}
<h1>Welcome to our Car Dealership webapp!</h1>
<p></p>
<h3>Add a new car to the dealership inventory:</h3>
<p></p>
{% endblock %}
{% block content %}
<form action="/add_car" method="post">
  <div class="mb-3">
    <label for="makeInput" class="form-label">Make</label>
    <input type="text" name="makeInput" class="form-control" id="makeInput">
  </div>
  <div class="mb-3">
    <label for="modelInput" class="form-label">Model</label>
    <input type="text" name="modelInput" class="form-control" id="modelInput">
  </div>
  <div class="mb-3">
    <label for="yearInput" class="form-label">Year</label>
    <input type="text" name="yearInput" class="form-control" id="yearInput">
  </div>
  <div class="mb-3">
    <label for="colorInput" class="form-label">Color</label>
    <input type="text" name="colorInput" class="form-control" id="colorInput">
  </div>
  <div class="mb-3">
    <label for="picInput" class="form-label">Picture URL</label>
    <input type="text" name="picInput" class="form-control" id="picInput">
  </div>
  <button type="submit" class="btn btn-primary">Add Car</button>
</form>

{% endblock %}
