{% extends 'base.html' %}

{% block text %}
<h1>Welcome to our Car Dealership webapp!</h1>
<p>Find in the table below all teh available Cars:</p>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Year</th>
      <th scope="col">Color</th>
      <th scope="col">Picture</th>
    </tr>
    <tbody>

      {% for car in cars %}
      <tr>
        <th>{{car.id}}</th>
        <td>{{car.make}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.color}}</td>
        <td><img src="{{ car.pic }}"  height="150"></td>
      </tr>
      {% endfor %}

  </tbody>
  </thead>
</table>
{% endblock %}