{% extends 'base.html' %}

{% block text %}
<h1>This page will help you to sell a car.</h1>
<p>This is the car in turn to be sold:</p>
<div class="bd-callout bd-callout-warning">
<strong>Attention.</strong> Have in mind that you can only sell the oldest car in the inventory.
</div>
{% endblock %}

{% block content %}
<p></p>
<h2>The car for sale:</h2>
{% if car %}
<strong>{{ car.make }} {{car.model }}</strong>
<p>year of production: <strong>{{ car.year }}</strong> main body color: <strong>{{ car.color }}</strong></p>
<td><img src="{{ car.pic }}"  height="500"></td>

<form action="/sell_car" method="post" class="row g-3" >
  <div class="mb-3">
    <label for="nameInput" class="form-label">Names of Buyer</label>
    <input type="text" class="form-control" name="nameInput" id="nameInput" placeholder="Ivo Ivanov">
  </div>
  <div class="mb-3">
    <label for="ageInput" class="form-label">Age of Buyer</label>
    <input type="text" class="form-control" name="ageInput" id="ageInput" placeholder="39">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sell</button>
  </div>
</form>
{% else %}
<strong>Unfortunately currently there are no cars available to sell!</strong>
{% endif %}

{% endblock %}