{% extends 'base.html' %}

{% block text %}
<h1>Welcome to our Car Dealership webapp!</h1>
<p></p>
<h3>This is a list of all sold cars by the dealership</h3>
<p></p>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Make</th>
      <th scope="col">Model</th>
      <th scope="col">Year</th>
      <th scope="col">Color</th>
      <th scope="col">Owner's Name</th>
      <th scope="col">Owner's Age</th>
      <th scope="col">Picture</th>
    </tr>
    <tbody>

      {% for car in sold_cars_list %}
      <tr>
        <th>{{car.id}}</th>
        <td>{{car.make}}</td>
        <td>{{car.model}}</td>
        <td>{{car.year}}</td>
        <td>{{car.color}}</td>
        <td>{{car.owner_name}}</td>
        <td>{{car.owner_age}}</td>
        <td><img src="{{ car.pic }}"  height="150"></td>
      </tr>
      {% endfor %}

  </tbody>
  </thead>
</table>
{% endblock %}