{% extends 'base.html' %}

{% block heading %} <h1>{{ item_content.title }}</h1> {% endblock  %}
{% block content %}
    <p>{{ item_content.text }}</p>
    <p>{{ item_content.text1 }}</p>
{% endblock  %}