<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It Step</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
</head>
<body>
    <div class="ui inverted menu">
        {% for item_title, item_href in menu_items.items() %}
            <a class="item" href="{{ item_href }}">{{ item_title }}</a>
        {% endfor %}
    </div>
    <h1> {% block heading %} {% endblock %} </h1>
    <p> {% block content %} {% endblock %} </p>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

</body>
</html>