{% extends 'base.html' %}

{% block heading %} <h1>{{ item_content.title }}</h1> {% endblock  %}
{% block content %} <p>{{ item_content.text }}</p>
<p> <img src="{{ url_for('static', filename=item_content.pic) }}"  width="600" ></p>
{% endblock  %}