{% extends 'base.html' %}

{% block heading %} <h1> {{ servcontent.title }} </h1> {% endblock  %}
{% block content %} <p>{{ servcontent.text }} <img src="{{ servcontent.logo }}"  width="300" height="300"> {% endblock  %}