<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ website.title }}</title>
</head>
<body>
<h1>Welcome</h1>
{{ website.greeting }}
<p>Our services:</p>
<ul>
    {% for service in services -%}
    <li>{{ service }}</li>
    {% endfor %}
</ul>

Other than that we do
{% if qa is not defined %}
not
{% endif %}
provide additional services.

{% if qa is defined %}
They are the following {{ qa|length }} services:
<ul>
    {% for srv in qa %}
    <li>{{ srv|capitalize }}</li>
    {% endfor %}

</ul>
{% endif %}

Our team consists of the developers:
{% for name in developers %}
{{ name }}{% if name != developers|last %}, {% endif %}
{% endfor %}

<p></p>
Our team consists of the developers:
{{ developers|join(', ') }}
</body>
</html>