<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ webpage.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <h1>{{ webpage.start_heading }}</h1>
    <p>{{ webpage.start_text }}</p>
    <div class="container text-center">
    <div class="row align-items-start">
      {% for service in services %}
      <div class="col">
      <h1>{{ service.name }}</h1>
        <p>{{ service.suits }}</p>
        <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Storage (GBs)
          <span class="badge bg-primary rounded-pill">{{ service.storage }}</span>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Domains Included
          <span class="badge bg-primary rounded-pill">{{ service.domains }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bandwidth: {{ service.bandwidth }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          RAM (GBs)
          <span class="badge bg-primary rounded-pill">{{ service.ram }}</span>
        </li>
      </ul>
      <p class="card-text">EUR{{ service.price }}/month</p>
      <button type="button" class="btn btn-warning">Get Started</button>
      </div>
      {% endfor %}
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>