<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ webpage.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <h1>{{ webpage.start_heading }}</h1>
    <p>{{ webpage.start_text }}</p>
    <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
      <h1>{{ custom.name }}</h1>
        <p>{{ custom.suits }}</p>
        <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Storage (GBs)
          <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose Storage
          </button>
          <ul class="dropdown-menu">
            {% for st in custom.storage %}
            <li><a class="dropdown-item" href="#">{{ st }}</a></li>
            {% endfor %}
          </ul>
        </div>
        </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Domains Included
          <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose number
          </button>
          <ul class="dropdown-menu">
            {% for domain in custom.domains %}
            <li><a class="dropdown-item" href="#">{{ domain }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Bandwidth: {{ custom.bandwidth }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          RAM (GBs)
          <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose RAM
          </button>
          <ul class="dropdown-menu">
            {% for ram in custom.ram %}
            <li><a class="dropdown-item" href="#">{{ ram }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <p class="card-text">EUR{{ custom.price }}/month</p>
      <button type="button" class="btn btn-warning">Get Started</button>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>