<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Input</title>
</head>
<body>
    <h1>User Input</h1>
    <h1>Hello {% if username %} {{ username }} {% else %} Unknown {% endif %}</h1>
    <form method="post">
        <label for="name">Enter here you name: </label>
        <input type="text" id="name" name="name">
        <button type="submit">Go!</button>
    </form>
</body>
</html>