<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resutl</title>
</head>
<body>
    <h1> Result of the submitted form: </h1>
    <p> Input from is {{ user_input }}</p>
</body>
</html>